# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that any other vendor directories are not ignored unless you purposely do so.
/vendor/
