<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/sebastianbergmann/phpunit/refs/tags/10.5.47/phpunit.xsd"
         cacheResult="false"
         colors="true" columns="max" stderr="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>Unit</directory>
            <directory>Integration</directory>
            <directory>ApiBehaviour</directory>
        </testsuite>
        <testsuite name="api">
            <directory>ApiBehaviour</directory>
        </testsuite>
        <testsuite name="local">
            <directory>Unit</directory>
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
